$accordion-border: $border-width $border-style $neutral-300;
// default
$accordion-color: $black;
$accordion-color-inverted: $white;
// hover
$accordion-color-hover: $primary;
$accordion-color-hover-inverted: $primary;
