$anchor-text-color: $sky-blue;
$anchor-text-color-hover: $sky-blue-light;
$anchor-text-color-pressed: $sky-blue-dark;
$anchor-text-color-disabled: $neutral-400;
$anchor-text-font-weight: 700;
$anchor-icon-ml: 5px;
